body{
    background-color: #add8e6;
}


.letter{
    color: #009b7d;
}

.firstsection{
    background-color: white;
    width: 40%;
    margin-left: 31%;
    margin-top: 10%;
  
}

.minisection{
    margin-left: 30px;
}

.letter1{
    color: #7cfc00;
}

.letter2{
    color: grey;
}

li{

    font-size: 15px;
    font-weight: lighter;
}

.no-bullets{

    list-style-type: none;
    font-weight: lighter;
 
}

.blue{
    float: left;
    width: 50%;
    color: whitesmoke;
    
}

.flex-container::after {
    content: "";
    clear: both;
    display: table;

  }

.button{
    background-color:#7cfc00;
    border: none;
    height: 30px;
    width: 200px;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 50px;
   

}

